.recievedMsg{
    background: blue;
    color: white;
    float: left;
}
.sentMsg{
    background: black;
    color: white;
    float: right;
}

.chatBox{
    height: 400px;
    border: 1px solid black;
    overflow: auto;
}

.recieveMsg{
    background-color: blue;
    color: white;
}
.sentMsgBg{
    background-color: green;
    color: white;
}
.timestamp{
    font-size: 10px;
}